
.jumbotron{
    padding-top: 6rem;
    background-color: #c6afc7;
}
#projects{
    background-color: #c6afc7;
}
footer{
    background-color: #c6afc7;
}
section{
    padding-top: 5rem;
}